.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;

    height: 7.5rem;

    margin-bottom: 2.5rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
