.boards-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 15rem;

    height: 100%;

    margin-right: 2.5rem;
    cursor: pointer;

    &:hover {
        .boards-button__icon,
        .boards-button__title {
            color: var(--color-black);
        }
    }
}

.boards-button__icon {
    color: lightgrey;
    margin-right: 1rem;
}

.boards-button__title {
    color: lightgrey;
}
