.boards-menu {
    flex: 0 0 15rem;

    height: 100%;

    margin-right: 2.5rem;
    cursor: pointer;
}

.boards-menu__button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    &:hover {
        .boards-menu__icon,
        .boards-menu__title {
            color: var(--color-black);
        }
    }
}

.boards-menu__icon {
    color: lightgrey;
    margin-right: 1rem;
}

.boards-menu__title {
    color: lightgrey;
}
