.board {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.board__header {
    display: flex;

    margin-bottom: 2.5rem;
}

.board__square {
    height: 4rem;
    width: 4rem;

    border-radius: 3px;
    margin-right: 1.5rem;
}

.board__info h3 {
    margin: 0 0 5px 0;
    font-weight: 500;
}

.board__info p {
    margin: 0;
    font-size: 1.25rem;
}

.board__columns {
    display: flex;
}
